/**
 * Base
 ============================================================ */

base_font_size = 16px
base_line_height = 1.5
base_unit = base_font_size * base_line_height

/**
 * Colors
 ============================================================ */

colors['grey-4'] = #444444
colors['grey-3'] = #555555
colors['grey-2'] = #666666
colors['grey-1'] = #777777
colors['grey'] = #888888
colors['grey+1'] = #999999
colors['grey+2'] = #aaaaaa
colors['grey+3'] = #bbbbbb
colors['grey+4'] = #cccccc
colors['grey+5'] = #dddddd
colors['grey+6'] = #eeeeee

/**
 * Fonts
 ============================================================ */

/*
 * Font stacks
 **************************************************/

fonts = {}
fonts['heading'] = "Helvetica Neue"\, Helvetica\, Arial\, sans-serif
fonts['main'] = "HelveticaNeue-Light"\, "Helvetica Neue Light"\, "Helvetica Neue"\, Helvetica\, Arial\, sans-serif

/*
 * Font Sizes
 **************************************************/

font_sizes = {}
font_sizes['alpha'] = unit((base_font_size * 3), px)
font_sizes['bravo'] = unit((base_font_size * 2.5), px)
font_sizes['charlie'] = unit((base_font_size * 2), px)
font_sizes['delta'] = unit((base_font_size * 1.5), px)
font_sizes['echo'] = unit((base_font_size * 1.2), px)
font_sizes['foxtrot'] = unit(base_font_size, px)
font_sizes['gamma'] = unit((base_font_size * 0.875), px)
