@import config
@import prefix_mixins
@import resets

inline_block()
	display inline-block
	*display inline
	*zoom 1

/* ============================================================
 * Typography
=========================================================== */

html
body
input
textarea
select
button
	fontFamilyMain()
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-smoothing antialiased
	text-rendering optimizeLegibility

input
textarea
select
button
	fontFamilyMain()
	font-size font_sizes['foxtrot']
	line-height line_heights['foxtrot']

.fs--alpha
	font-size font_sizes['alpha']
	line-height line_heights['alpha']

.fs--bravo
	font-size font_sizes['bravo']
	line-height line_heights['bravo']

.fs--charlie
	font-size font_sizes['charlie']
	line-height line_heights['charlie']

.fs--delta
	font-size font_sizes['delta']
	line-height line_heights['delta']

.fs--echo
	font-size font_sizes['echo']
	line-height line_heights['echo']

.fs--foxtrot
	font-size font_sizes['foxtrot']
	line-height line_heights['foxtrot']


/* ============================================================
 * Colors
=========================================================== */

.color--grey__dark
	color colors['grey-2']

.color--grey__medium
	color colors['grey']

.color--grey__light
	color colors['grey-2']

.color--grey__vlight
	color colors['grey-4']

.color--teal
	color colors['teal']


/* ============================================================
 * General
=========================================================== */

.align--right
	text-align right

.align--center
	text-align center

.node__y--top
	padding-top base_unit

.node__y--bottom
	padding-bottom base_unit


/* ============================================================
 * Buttons
=========================================================== */

.button
	inline_block()
	padding (base_unit * .5) base_unit
	margin 0
	font-size font_sizes['foxtrot']
	line-height line_heights['foxtrot']
	font-weight bold
	border none
	prefix_border_radius(2px)
	prefix_box_sizing(border-box)
	cursor pointer

.button--small
	font-size font_sizes['gamma']
	line-height line_heights['gamma']
	padding (base_unit * .125) (base_unit * .5)

.button__dropdown__hover
	inline_block()
	position relative
	margin 0
	font-weight bold
	prefix_border_radius(2px)

	.button__dropdown__btn
		display block
		padding (base_unit * .5) base_unit (base_unit * .5) base_unit
		border none
		prefix_border_radius(2px)
		cursor pointer

	.button__dropdown__container
		display none
		position absolute
		top 100%
		right 0
		min-width 100%
		padding-top base_unit * .75

		.button__dropdown__list
			position relative
			padding 0
			margin 0
			z-index 2
			list-style none
			prefix_border_radius(2px)
			prefix_box_shadow(0, 0, 3px, colors['grey-5'])

			li
				display block

				form
					padding 0
					margin 0

				.dropdown__list__button
					display block
					width 100%
					padding (base_unit * .5) base_unit (base_unit * .5) base_unit
					margin 0
					font-weight bold
					text-align left
					border none
					background #ffffff
					cursor pointer

			&:after
				display block
				position absolute
				bottom 100%
				right base_unit
				z-index 1
				margin-right -1px
				margin-bottom -4px
				font-family Fruitful
				text-shadow 0 0 3px colors['grey-5']
				content '\e609'

	&:hover

		.button__dropdown__container
			display block

.button__icon--right
	padding-left base_unit * .5

/**
 * Button Colors
 */

 .button--cuban_heat
	color #ffffff
	background-color colors['cuban_heat']

.button.button--cuban_heat

	&:hover
		background-color colors['cuban_heat-1']

	&:active
		background-color colors['cuban_heat+2']

.button--dusk
	color #ffffff
	background-color colors['dusk']

.button.button--dusk

	&:hover
		background-color colors['dusk-1']

	&:active
		background-color colors['dusk+2']

.button--mist
	color #ffffff
	background-color colors['mist']

.button.button--mist

	&:hover
		background-color colors['mist-1']

	&:active
		background-color colors['mist+2']

.button--mustard
	color #ffffff
	background-color colors['mustard']

.button.button--mustard

	&:hover
		background-color colors['mustard-1']

	&:active
		background-color colors['mustard+2']


.button--teal
	color #ffffff
	background-color colors['teal']

.button.button--teal

	&:hover
		background-color colors['teal-1']

	&:active
		background-color colors['teal+2']

.button__dropdown__hover.button--teal

	.button__dropdown__list
		color colors['teal-6']
		border solid 1px colors['teal-6']
		background-color #ffffff

		.dropdown__list__button
			color colors['teal-3']

			&:hover
				color colors['teal']

.button--wasabi
	color #ffffff
	background-color colors['wasabi']

.button.button--wasabi

	&:hover
		background-color colors['wasabi-1']

	&:active
		background-color colors['wasabi+2']

/* ============================================================
 * Messages
=========================================================== */

.message_box
	padding (base_unit * .5) base_unit
	prefix_border_radius(2px)

	h6
		margin-top base_unit * .5
		fontFamilyHeading()
		font-size font_sizes['foxtrot']
		line-height line_heights['foxtrot']
		text-transform uppercase

	ul
	ol
		padding 0
		list-style none

		li
			padding 0
			margin 0 0 (base_unit * .6) 0
			font-size font_sizes['foxtrot']
			line-height line_heights['foxtrot']

			&:last-child
				margin 0

.message_box--small
	padding (base_unit * .25) (base_unit * .75)

	h6
		margin-top base_unit * .25
		font-size font_sizes['gamma']
		line-height line_heights['gamma']

	ul
	ol

		li
			margin 0 0 (base_unit * .4) 0
			font-size font_sizes['gamma']
			line-height line_heights['gamma']

			&:last-child
				margin 0

.message_box--mustard
	color colors['mustard+6']
	background-color colors['mustard']

	* 
		color colors['mustard+6']

.message_box--tomato
	color colors['tomato+6']
	background-color colors['tomato']

	* 
		color colors['tomato+6']

.message_box--wasabi
	color colors['wasabi+6'] !important
	background-color colors['wasabi']

	* 
		color colors['wasabi+6']

/* ============================================================
 * Froms, Labels, Inputs, Textareas and Selects
=========================================================== */

/*
 * Labels
 **************************************************/

.form__controls__right
.form__controls__left
	inline_block()
	width 50%
	margin-right -4px

/*
 * Labels
 **************************************************/

label
	color colors['grey+4']
	fontFamilyMain()
	font-size font_sizes['foxtrot']

.label--block
	display block
	margin-top base_unit * .75
	margin-bottom base_unit
	line-height line_heights['foxtrot']

.label--inline
	inline_block()
	vertical-align middle 
	padding-left base_unit
	padding-right base_unit
	margin-top base_unit * .75

.label--strong
	font-weight bold

.label--description
	margin-top base_unit * .5
	margin-bottom base_unit * .5
	color colors['grey-2'] !important
	font-size font_sizes['gamma']
	line-height line_heights['gamma']
	font-style italic

/*
 * Inputs - text & email & tel & password
 **************************************************/

.input--text
	width base_unit * 19
	padding (base_unit * .5) base_unit (base_unit * .5) base_unit
	margin 0
	color colors['grey']
	border solid 2px colors['grey-2']
	prefix_border_radius(2px)
	prefix_box_sizing(border-box)
	background #ffffff

	&:hover
		color colors['grey+2']
		border-color colors['grey']

	&:focus
		color colors['grey+4']
		border-color colors['grey+2']

	@media screen and (max-width: 600px)
		width 100%

/*
 * Inputs - number
 **************************************************/

.input--number__default::-webkit-outer-spin-button
.input--number__default::-webkit-inner-spin-button
	-webkit-appearance none
	margin 0

.input--number__default
	@extend .input--text

/*
 * Inputs - checkbox & radio button
 **************************************************/

.input--checkbox
	display none
	padding 0
	margin 0

.input--checkbox:checked + label
	border-color colors['grey-2']
	background-image url(../../images/checkbox--tick_@2x.png)
	background-repeat no-repeat
	background-position center center
	prefix_background_size(16px, 16px)

.input--checkbox:disabled + label
	border-color colors['grey-4']
	background-color colors['grey-5']

.input--checkbox__inline
	margin-top base_unit * .75

.input--checkbox__default
	inline_block()
	vertical-align middle 
	width 18px
	height 18px
	font-size 0
	margin-right -4px
	border solid 2px colors['grey-2']
	prefix_border_radius(2px)

	&:hover
		border-color colors['grey']

/*
 * Textareas
 **************************************************/

.textarea--default
	width base_unit * 39
	max-width 100%
	padding (base_unit * .5) base_unit (base_unit * .5) base_unit
	margin 0
	color colors['grey']
	border solid 2px colors['grey-2']
	prefix_border_radius(2px)
	prefix_box_sizing(border-box)
	background #ffffff

	&:hover
		color colors['grey+2']
		border-color colors['grey']

	&:focus
		color colors['grey+4']
		border-color colors['grey+2']


/*
 * Selects
 **************************************************/

.select
	prefix_appearance(none)
	cursor pointer

.select__default
	position relative

	&:before
		display block
		position absolute
		top 0
		left unit((base_unit * 17.5), px)
		z-index 2
		width 16px
		height 100%
		padding-right base_unit
		background-image url(../../images/select--arrow_down_@2x.png)
		background-repeat no-repeat
		background-position left center
		prefix_background_size(16px, 16px)
		content ''

		@media screen and (max-width: 600px)
			left auto
			right 0
			width 8px

	.select
		width base_unit * 19
		padding (base_unit * .5) base_unit (base_unit * .5) base_unit
		color colors['grey+4']
		border none
		prefix_border_radius(2px)
		prefix_box_sizing(border-box)
		background-color colors['grey-4']

		@media screen and (max-width: 600px)
			width 100%
			background-position right center


/* ============================================================
 * Admin
=========================================================== */

/*
 * Master
 **************************************************/

html
body
	height auto
	min-height 100%
	background colors['grey-6']

.body
	height auto
	min-height 100%
	position relative
	overflow hidden

.body__main__content
	min-height 100%

.body__main__content__wrap

	@media screen and (max-width: 960px)
		padding-left base_unit * 2
		padding-right base_unit * 2

	@media screen and (max-width: 600px)
		padding-left base_unit
		padding-right base_unit

.body__header
	padding-top base_unit

	@media screen and (max-width: 960px)
		padding-top 0

	h1
		margin-bottom base_unit * 1.5
		fontFamilyHeading()
		font-size font_sizes['alpha']
		line-height line_heights['alpha']

		@media screen and (max-width: 960px)
			margin-bottom base_unit * 1.5
			font-size font_sizes['bravo']
			line-height line_heights['bravo']

		@media screen and (max-width: 600px)
			margin-bottom base_unit * 1.5
			font-size font_sizes['charlie']
			line-height line_heights['charlie']

	p
		margin-top base_unit
		margin-bottom base_unit
		color colors['grey']
		font-size font_sizes['echo']
		line-height line_heights['echo']

		@media screen and (max-width: 600px)
			margin-top 0
			font-size font_sizes['foxtrot']
			line-height line_heights['foxtrot']

.body__content
	padding-bottom	base_unit * 4

	p
		margin-top base_unit * .75
		margin-bottom base_unit
		color colors['grey+4']
		font-size font_sizes['foxtrot']
		line-height line_heights['foxtrot']

		&:first-child
			margin-top 0

.body__footer
	height base_unit * 3
	margin-top - base_unit * 3

	@media screen and (max-width: 960px)
		padding-left base_unit * 2
		padding-right base_unit * 2

	@media screen and (max-width: 600px)
		padding-left base_unit
		padding-right base_unit
	
	p
		padding-top base_unit * .5
		color colors['grey-4'] 
		font-size font_sizes['gamma']
		line-height line_heights['gamma']
		text-align right
		border-top solid 1px colors['grey-5']

/*
 * Dashboard
 **************************************************/

.dashboard__menu__wrap
	position absolute
	top 0
	left 0
	z-index 1
	width base_unit * 14
	height 100%
	background-color colors['grey-5']
	overflow hidden

	@media screen and (max-width: 960px)
		left 0 - (base_unit * 14)

.dashboard__menu--group_bkg
	position absolute
	top 0
	left base_unit * 14
	z-index 2
	width base_unit * 14
	height 100%
	background colors['teal-4']

	@media screen and (max-width: 960px)
		display none

.dashboard__logo
	height base_unit * 9
	margin-bottom base_unit
	background-color #ffffff

	@media screen and (max-width: 960px)
		height base_unit * 6

	@media screen and (max-width: 600px)
		height auto
		padding (base_unit * .5) base_unit
		color #ffffff
		font-size font_sizes['delta']
		line-height 1
		background-color colors['teal']

		&:before
			content "MENU"

.dashboard__menu
	position relative
	padding 0 0 0 base_unit
	margin 0
	list-style none

	@media screen and (max-width: 960px)
		padding 0

.dashboard__menu__group
	display block

.dashboard__menu__group--title
	display block
	margin-bottom base_unit *.125
	color colors['grey+4']
	font-weight bold
	padding base_unit (base_unit * 2)
	prefix_border_radius_top_left(2px)
	prefix_border_radius_bottom_left(2px)
	cursor pointer

	&:hover
		background-color colors['grey-4']

	@media screen and (max-width: 960px)
		padding (base_unit * .5) base_unit

		&:hover
			background-color transparent

.dashboard__menu__group--list
	display none
	position absolute
	top 0
	left base_unit * 14
	z-index 3
	padding 0
	margin 0
	list-style none

	@media screen and (max-width: 960px)
		position static
		padding-left base_unit

.dashboard__menu__group--item
	width base_unit * 14

.dashboard__menu__group--link
	display block
	padding base_unit (base_unit * 2) base_unit base_unit
	margin-left base_unit
	prefix_border_radius_top_left(2px)
	prefix_border_radius_bottom_left(2px)
	cursor pointer

	&:hover
		background-color colors['teal-6']

	@media screen and (max-width: 960px)
		padding (base_unit * .5) base_unit
		margin-left 0

		&:hover
			background-color transparent

.dashboard__menu__group--active
	color colors['mist+6']

	.dashboard__menu__group--title
		background colors['teal-4']

	.dashboard__menu__group--list
		display block

		@media screen and (max-width: 960px)
			color colors['grey+3']
			background colors['grey-4']

	.dashboard__menu__group--link
		color colors['mist+6']

		@media screen and (max-width: 960px)
			color colors['grey+4']

.dashboard__body
	padding-left base_unit * 15
	padding-right base_unit * 4

	@media screen and (max-width: 960px)
		padding 0

	.body__header
		text-align right

		@media screen and (max-width: 960px)
			position relative
			text-align left

		.toggle_menu
			display none

		.profile

			@media screen and (max-width: 960px)
				position absolute
				top 0
				right 0
				height 100%
				right base_unit * 2
				color #ffffff
				font-weight bold
				prefix_border_radius(0)
				background-color colors['teal-3']
				cursor pointer

				.button__dropdown__btn
					padding-top base_unit * .625
					prefix_border_radius(0)


			@media screen and (max-width: 600px)
				right base_unit

		@media screen and (max-width: 960px)
			padding-left base_unit * 2
			padding-right base_unit * 2
			background-color colors['teal+2']

			.toggle_menu
				inline_block()
				padding (base_unit * .5) base_unit
				margin-left - base_unit
				color #ffffff
				font-size font_sizes['delta']
				cursor pointer

		@media screen and (max-width: 600px)
			padding-left base_unit
			padding-right base_unit

	.dashboard__header

		h1
			margin-bottom base_unit * 1.5
			fontFamilyHeading()
			font-size font_sizes['alpha']
			line-height line_heights['alpha']

			@media screen and (max-width: 960px)
				margin-bottom base_unit * 1.5
				font-size font_sizes['bravo']
				line-height line_heights['bravo']

			@media screen and (max-width: 600px)
				margin-bottom base_unit * 1.5
				font-size font_sizes['charlie']
				line-height line_heights['charlie']

/*
 * Basic
 **************************************************/

.basic__body
	max-width 1100px
	padding-left base_unit * 11
	padding-right base_unit * 4

	@media screen and (max-width: 960px)
		padding 0

	.body__main__content

		@media screen and (max-width: 960px)
			padding-left base_unit * 2
			padding-right base_unit * 2

		@media screen and (max-width: 600px)
			padding-left base_unit
			padding-right base_unit

/*
 * Login
 **************************************************/

.login__container
	display flex
	height auto
	min-height 80%

.login__box
	margin auto

	@media screen and (max-width: 600px)
		width 100%

	form
		margin-left 0 - (base_unit * 5.5)

		@media screen and (max-width: 960px)
			margin-left 0


/* ============================================================
 * Walls & Tiles
=========================================================== */
	
.wall__tiles
	display block
	padding 0 0 0 4px
	margin 0 (0 - base_unit) 0 0
	list-style none

	@media screen and (max-width: 752px)
		padding 0
		margin 0

.tile
	inline_block()
	width base_unit * 21
	margin 0 base_unit base_unit -4px
	vertical-align top
	font-size 0
	background #ffffff

	@media screen and (max-width: 752px)
		display block
		width auto
		margin 0 0 base_unit 0

.tile__content
	padding base_unit
	font-size font_sizes['foxtrot']
	line-height line_heights['foxtrot']

.tile__table
	border none
	border-collapse collapse
	border-spacing 0
	border-color transparent

	td
		padding-top base_unit * .5
		padding-bottom base_unit * .5
		color colors['grey+4']

	tr:first-child

		td
			padding-top 0

	tr:last-child

		td
			padding-bottom 0

.tile__table--row_title
	padding-right base_unit
	color colors['grey-2']


/* ============================================================
 * Wells & Control Blocks
=========================================================== */

.well
	padding base_unit
	margin-top base_unit
	margin-bottom base_unit
	prefix_border_radius(2px)
	background-color #ffffff

	h2
		color colors['grey+4']
		margin-top base_unit * .5
		margin-bottom base_unit * 1.25
		fontFamilyHeading()
		font-size font_sizes['delta']
		line-height line_heights['delta']

	h3
		color colors['grey+4']
		margin-top base_unit * .25
		margin-bottom base_unit
		fontFamilyHeading()
		font-size font_sizes['echo']
		line-height line_heights['echo']

	p
	ul
	ol
		color colors['grey-2']
		margin-top base_unit * .75
		margin-bottom base_unit
		font-size font_sizes['foxtrot']
		line-height line_heights['foxtrot']

	.control_block
		padding-top base_unit * .75
		padding-bottom base_unit * .75

	.control_block:first-of-type
		padding-top base_unit * .25

.block__y__top
	padding-top base_unit * .75

.block__y__bottom
	padding-bottom base_unit * .75


/* ============================================================
 * Nav Bars
=========================================================== */

ul.navbar__menu
	padding 0
	margin 0
	list-style none

	li
		inline_block()
		padding 0
		margin 0 -4px 0 0

		.navbar__menu__link
			display block
			padding base_unit (base_unit * 2)
			font-weight bold

		&:first-child

			.navbar__menu__link
				border none
				prefix_border_radius_top_left(2px)
				prefix_border_radius_bottom_left(2px)

		&:last-child

			.navbar__menu__link
				prefix_border_radius_top_right(2px)
				prefix_border_radius_bottom_right(2px)

ul.navbar__menu--dusk

	li

		.navbar__menu__link
			color colors['mist+6']
			border-left solid 1px colors['mist+1']
			background-color colors['mist']

			&:hover
				background-color colors['mist-1']

			&:active
				background-color colors['mist-+2']