
prefix_appearance(a)
	-webkit-appearance a
	-moz-appearance a
	appearance a

prefix_border_radius(a)
	-webkit-border-radius a
	-moz-border-radius a
	border-radius a

prefix_border_radius_top_right(a)
	-webkit-border-top-right-radius a
	-moz-border-radius-topright a
	border-top-right-radius a

prefix_border_radius_bottom_right(a)
	-webkit-border-bottom-right-radius a
	-moz-border-radius-topright a
	border-bottom-right-radius a

prefix_border_radius_top_left(a)
	-webkit-border-top-left-radius a
	-moz-border-radius-topleft a
	border-top-left-radius a

prefix_border_radius_bottom_left(a)
	-webkit-border-bottom-left-radius a
	-moz-border-radius-topleft a
	border-bottom-left-radius a

prefix_background_size(x, y)
	-webkit-background-size x y
	-moz-background-size x y
	background-size x y

prefix_box_sizing()
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

prefix_box_shadow(x, y, a, c)
	-webkit-box-shadow x y a c
	-moz-box-shadow x y a c
	box-shadow x y a c