
prefix_appearance(a)
	-webkit-appearance a
	-moz-appearance a
	appearance a

prefix_border_radius(a)
	-webkit-border-radius a
	-moz-border-radius a
	border-radius a

prefix_background_size(x, y)
	-webkit-background-size x y
	-moz-background-size x y
	background-size x y

prefix_box_sizing()
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box