colors = {}

colors['cuban_heat+1'] = #cb5b4a
colors['cuban_heat'] = #c54835
colors['cuban_heat-2'] = #9e3a2a

colors['dusk+1'] = #657697
colors['dusk'] = #54678b
colors['dusk-2'] = #43526f

colors['mist+1'] = #9ae0e3
colors['mist'] = #8edce0
colors['mist-2'] = #72b0b3
colors['mist-1'] = #7fc6c9
colors['mist-6'] = #39585a


colors['tomato+2'] = #f1927d
colors['tomato'] = #ee775c
colors['tomato-2'] = #be5f4a
colors['tomato-3'] = #a65340
colors['tomato-5'] = #773b2e
colors['tomato-6'] = #5f3024

/* OK */

colors['mustard+1'] = #e3bd3b
colors['mustard'] = #e0b525
colors['mustard-1'] = #c9a321
colors['mustard-4'] = #b3911a
colors['mustard-3'] = #9c7e1a
colors['mustard-4'] = #876d15
colors['mustard-5'] = #705a12
colors['mustard-6'] = #59480f

colors['teal+6'] = #9fe3d5
colors['teal+5'] = #88ddca
colors['teal+4'] = #70d6bf
colors['teal+3'] = #57cfb5
colors['teal+2'] = #40c8aa
colors['teal+1'] = #21c1a0
colors['teal'] = #10ba95
colors['teal-1'] = #0ea786
colors['teal-2'] = #0c9577
colors['teal-3'] = #0b8268
colors['teal-4'] = #0a7059
colors['teal-5'] = #085d4a
colors['teal-6'] = #064a3c

colors['wasabi+6'] = #dff0c1
colors['wasabi+5'] = #d7ecb2
colors['wasabi+4'] = #cee8a2
colors['wasabi+3'] = #c6e493
colors['wasabi+2'] = #bee183
colors['wasabi+1'] = #b6dd74
colors['wasabi'] = #aed964
colors['wasabi-1'] = #9cc35a
colors['wasabi-2'] = #8bae4f
colors['wasabi-3'] = #789746
colors['wasabi-4'] = #68823c
colors['wasabi-5'] = #576c37
colors['wasabi-6'] = #465728