html
body
	padding 0
	margin 0
	font-size: font_sizes['foxtrot']
	line-height base_line_height

input
textarea
select
button
	font-size: font_sizes['foxtrot']
	line-height base_line_height
	border-radius 0
	outline none

img
	border none

fieldset
	padding 0
	margin 0
	border none
	border none